.home-shop-wrapper {
    background-image: url(../../assets/IMG_1487.JPG);
    height:800px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 68%;
    background-size: cover;
}

.home-shop-wrapper button {
    position: relative;
    right:420px;
    top:520px;
}

.featured-products {
    display:flex;
    justify-content:center;
}

.featured-products h3 {
    margin-top:30px;
    opacity: 0.75;
    font-weight:lighter;
    text-transform:uppercase;
}
