.header-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    background-color: rgb(141, 147, 241);
    height:70px;
}

h1 {
    color: white;
    margin-left: 20px;
    font-family:Amatic SC;
    letter-spacing: 3px;
    font-size:40px;
}


.navbar-container * {
    margin:0 15px;
    text-decoration:none;
    color:white;
    text-transform: uppercase;
    opacity:0.75;
}
