.register-form {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    text-transform: uppercase;
    /* opacity:0.75; */
    margin-top:50px;
}

.register-form h2{
    margin-bottom:20px;
    opacity:none;
}

.register-form input {
    width:350px;
    align-self:center;
    border-radius:6px;
    margin-bottom:20px;
    padding:10px;
}

.register-form button {
    width:80px;
    height:25px;
    align-self:center;
    margin:10px auto;
    border-radius:4px;
}