*{
  padding:0px;
  margin:0px;
  color:rgb(59, 59, 59);
  
}

.App {
  text-align: center;
  font-family: Roboto;
}

input {
  border: 2px solid rgb(141, 147, 241);
  height: 25px;
  border-radius:6px;
  cursor: pointer;
}

button {
  border: 1px solid rgb(141, 147, 241);
  height: 20px;
  border-radius:4px;
  cursor: pointer;
  width:60px;
}

