*{
  padding:0px;
  margin:0px;
  color:rgb(59, 59, 59);
  
}

.App {
  text-align: center;
  font-family: Roboto;
}

input {
  border: 2px solid rgb(141, 147, 241);
  height: 25px;
  border-radius:6px;
  cursor: pointer;
  width:160px;  
  box-sizing: border-box;
  padding:3px;
  
}

button {
  border: 2px solid rgb(141, 147, 241);
  height: 25px;
  border-radius:6px;
  cursor: pointer;
  width:70px;
  box-sizing: border-box;
  
}

select {
  border: 2px solid rgb(141, 147, 241);
  height: 25px;
  border-radius:6px;
  cursor: pointer;
  width:160px;
  box-sizing: border-box;
  
}

.MuiButton-containedPrimary {
  color: rgb(255, 255, 255);
  background-color: #939edf;
}



